@tailwind base;
@tailwind components;
@tailwind utilities;


.landing-page-benefits-section {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      to bottom,
      #e9f9fe, /* Light blue */
      #0581bb  /* Dark blue */
    );
  }
  
  body {
    background-color: #F6F6F9;
  }

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
  .slick-prev:before, .slick-next:before {
    color: #000;
    font-size: 29px;
  }
  